---
layout: default.hbs
class: home
---

<div class="container">
	<h1>Akeley Wood School, London, Open Days</h1>
	<div class="row">
		<div class="col-sm-6">
			<h2>A taste of school life</h2>
			<p>The best way to get a feel for life at school name, location is to come along and see for yourself. Our regular Open Days are the perfect opportunity to talk to both teachers and pupils and experience the many ways in which school name provides a rich and rewarding independent education.</p>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<p>Our Next Open Day is</p>
					<p>18th<span>October</span></p>
					<p>10:00 - 12:00</p>
					<a>Please Join Us</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
				<h3>
					About school name, location
				</h3>
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod bibendum laoreet. Proin gravida dolor sit amet lacus.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod bibendum laoreet. Proin gravida dolor sit amet lacus.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod bibendum laoreet. Proin gravida dolor sit amet lacus.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod bibendum laoreet. Proin gravida dolor sit amet lacus.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod bibendum laoreet. Proin gravida dolor sit amet lacus.</li>
				</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h3>Open Days Dates</h3>
			<table width="100%">
				<thead>
					<th>Date</th>
					<th>Time</th>
					<th></th>
					<th></th>
					<tbody>
						<tr>
							<td>Saturday 25th October</td>
							<td>09:00 — 12:00</td>
							<td>Senior School Open Morning</td>
							<td>Please Join Us</td>
						</tr>
						<tr>
							<td>Saturday 1st November</td>
							<td>09:00 — 12:00</td>
							<td>Whole School Open Morning</td>
							<td>Please Join Us</td>
						</tr>
					</tbody>
				</thead>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 text-center">
			<h3>Or get in touch with us</h3>
			<p>Our admissions team is always happy to arrange a personal visit if you can’t make these days.</p>
			<p>Call 07289281819891</p>
			<p>- or -</p>
			<a>Arrange a visit</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Some random video</h3>
			<div>This is a video</div>
		</div>
		<div class="col-sm-6">
			<h3>Some random stuff</h3>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
				<p class="text-right">Parent of Year 6 Student</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<p>Our Next Open Day is</p>
			<p>18th<span>October</span></p>
			<p>10:00 - 12:00</p>
			<a>Please Join Us</a>
		</div>
		<div class="col-sm-9">
			<p>Or find out more about us...</p>
			<p>For more information, request a school name prospectus or read about our admissions process.</p>
				<a class="col-sm-6">Arrange a visit</a>
				<a class="col-sm-6">Arrange a visit</a>
		</div>
	</div>
</div>